body {
  background-color: #fbc0fa; 
  color: #050303; 
  background-image: url(https://images.pexels.com/photos/4065177/pexels-photo-4065177.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
}

nav{
  display: flex;
}
header div img{
   height: 80px;
   width: 80px;
}

/* Header styling */
header {
  background-color: #ff48ea;
  /* padding:5px; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: transparent;
  border: 5px solid #000000;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content:end;
}

nav ul li {
  margin-right: 50px;
  padding: 10px;
  justify-content: end;
}

nav ul li a {
  text-decoration: none;
  color: #333333; /* Dark gray text */
  font-weight: bold;
  font-size: 20px;
  justify-content: center;
}

nav ul li a:hover {
  color: #5773FF; /* Highlight color */
}

section {
  margin-bottom: 40px;
}
.h1{
  color: #ff0000;
  border: 2px solid #000000;
  margin-right: 20px ;
}
h1 {
  color: #5773FF; 
}

h2 {
  color: #405DE6; 
}
p{
  font-size: large;
}


footer {
  background-color: #c622b3; 
  padding: 20px;
  text-align: center;
  color: #0f0b0b; 
  font-weight: bold;
}
img{
  background: #ff48ea;
  border-radius: 11px;
  height: 80px;
  width: 80px;
  margin: 10px;
}